@charset "UTF-8" ;
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html { width:100%;height:100%;}
BODY {
	overflow-y: scroll;
	margin:0 0; padding: 0; width:100%;height:100%; FONT-SIZE: 100%; 
  font-family: 'Noto Sans KR', sans-serif;
  line-height:1;
  COLOR: #222222; }
div{FONT-SIZE: 13px; font-family: 'Noto Sans KR', sans-serif; COLOR: #222222;}
INPUT { 
	font-weight:bold; FONT-SIZE: 100%; font-family: 'Noto Sans KR', sans-serif; COLOR: #222222; 
}
SELECT {
	FONT-SIZE: 100%; font-family: 'Noto Sans KR', sans-serif; COLOR: #222222; 
}
TEXTAREA {
	FONT-SIZE: 100%; font-family: 'Noto Sans KR', sans-serif; COLOR: #222222; 
} 
A { 
	COLOR: #222222; TEXT-DECORATION: none;
}
A:link {
	COLOR: #222222
}
A:visited {
	COLOR: #222222
}
A:hover {
	COLOR: #222222
}
A:focus {
	COLOR: #222222
}
LEGEND {
	OVERFLOW: hidden; FONT-SIZE: 0px; HEIGHT: 0px; POSITION: absolute; LEFT: 0px; LINE-HEIGHT: 0; TOP: 0px; VISIBILITY: hidden; WIDTH: 0px; TEXT-INDENT: -9999px
}
CAPTION {
	OVERFLOW: hidden; FONT-SIZE: 0px; HEIGHT: 0px; POSITION: absolute; LEFT: 0px; LINE-HEIGHT: 0; TOP: 0px; VISIBILITY: hidden; WIDTH: 0px; TEXT-INDENT: -9999px
}
input[type=file] {border:2px solid #9bd1ff;width:60%;padding:12px;font-size:14px;font-family:dotum;background:#fff;}
hr {  
	color:gray;  
}
form{width:100%;height:100%;} 

input[readonly="readonly"]{background-color:#E0ECF8;}
.clear { CLEAR: both}
.font-bold {   font-size:13px; font-family: 'Noto Sans KR', sans-serif;	FONT-WEIGHT: bold  } 
  
/* layout */
#bodyWrapper { width:1100px; margin:0 auto;}
#container {width:100%;float:left;}  
#header_bar { border-bottom:solid 1px #eee;}
#header_bar .bar_box {width:1080px; margin:0 auto; text-align:right; padding:10px 10px;}
#header_bar .bar_box .bar_btn { margin:0 10px; cursor:pointer; font-weight:bold;}
#header_bar .bar_box .bar_btn:HOVER { color:#e77903 !important;}
#header {left: 0; top:0; min-height:70px; width:1100px; margin:0 auto; text-align:center;}  
#header #Logo{cursor:pointer;float:left; height:70px; width:14%; font-weight:bold;font-size:14px; display:table;}
#header #Logo .Logo_wrapp {display:table-cell; vertical-align:middle;}
#header #Logo img {width:100%; }
#header a{ float:left; padding:28px; font-weight:bold; font-size:17px; color:#4b4444;}  
#header a+a {/* border-left: 1px solid #ccc; */}
#header a:hover{ color:#e77903;}

#header_menu {float:left; margin-left:60px; }

#header_bottom { border-radius: 21px; border: solid 5px #f79723; width: 1100px; height: 80px;
 margin: 0 auto;
 display:table;
/*  background: linear-gradient(to right, #e77903, #f79723);*/
 background: url('/resources/css/images/common/check_01.jpg') center center;
  }

#header_bottom .header_gradient {
	line-height:1.5;
	display:table-cell;
	vertical-align:middle;
	text-align:right;
	width:95%;
	padding:0 2.5%;
	height:100%;
	border-radius: 10px;
	background: linear-gradient(to left, #e77903, #f79723, #f79723);
  background: #70bf32;
  background: -webkit-linear-gradient(to right, RGBA(255,255,255,0), #f79723, #f79723);
  background:    -moz-linear-gradient(to right, RGBA(255,255,255,0), #f79723, #f79723);
  background:     -ms-linear-gradient(to right, RGBA(255,255,255,0), #f79723, #f79723);
  background:      -o-linear-gradient(to right, RGBA(255,255,255,0), #f79723, #f79723);
  background:         linear-gradient(to right, RGBA(255,255,255,0), #f79723, #f79723);
}
#header_bottom .header_bottom_page_name {font-size:20px; color:#FFF;}
#header_bottom .header_bottom_comment {color:#fac22b; font-size:10px; }

#Contents{float:left; padding:25px 2.5%; min-height:350px; width:75%; background:#FFF;}      
#Footer{ padding:10px 0; width:100%; min-height:70px; float:left; background:#FFF;} 
#leftContaner{width:20%;float:left;  left:0;  z-index:100; background:#585858;min-height:400px;}   
#LeftMenu{  height:100%; min-height: 180px; width:100%; text-align:center;}      
#LeftMenu a{color: #f5f5f5;font-weight:bold;} 
#LeftMenu div{color: #f5f5f5;font-weight:bold;}    

#leftmenu_banner div img {width:90%; padding:0 5%; cursor:pointer;}
           
.TextBox { margin-top:10px; margin-bottom:10px; border:1px solid #04B486; width:75%; padding:8px; font-size:16px; font-family:dotum; background:#fff;}   
.TextBox2 { margin-top:10px; margin-bottom:10px; border:1px solid #04B486; width:75%; height:100px; padding:8px; font-size:16px; font-family:dotum; background:#fff;}
.none{height:15px;}

 
