@CHARSET "UTF-8";

    ul#navi {
        width: 100%;
        text-indent: 10px;
}
    ul#navi, ul#navi ul {
        margin:0;
        padding:0;
        list-style:none;
}
    li.group {
        margin-bottom: 3px;
}
    li.group div.title {
        height: 35px;
        line-height: 35px;
        cursor:pointer;
        font-size:14px;
        font-weight:bold;
        color:gray;
        text-align:left;
        padding-left:15px; 
}
    ul.sub li { 
        margin-bottom: 2px;
        height:35px; 
        line-height:35px;
        cursor:pointer;
        font-size:13px;
        font-weight:bold;
        text-align:left;
        padding-left:30px;
}
    ul.sub li a {
        display: block; 
        width: 100%;
        height:100%;
        text-decoration:none;
        color:#000;
}
    ul.sub li:hover {
        background:black;  
        
}

	.title:hover{
	}