html{
	overflow-y:scroll; 
}

.png24 {
  tmp:expression(setPng24(this));
}
Body 
	{
	background-color: #FFFFFF;
	background-image: url(../common/bg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	}
		BODY,TD,SELECT,input,DIV,form,TEXTAREA,center,option,pre,blockquote {font-size:9pt; font-family:맑은고딕,verdana,tahoma; 
		color:666666;line-height:200%}
		A:link    {color:365EAE;text-decoration:none;}
		A:visited {color:365EAE;text-decoration:none;}
		A:active  {color:365EAE;text-decoration:none;}
		A:hover  {color:12306D;text-decoration:none}
		.head {border:solid 1 #CCCCCC;font-family:matchworks,verdana;font-size:9pt;color:666666;background-color:white;height:19px}
		.textarea {border:solid 1 #CCCCCC; font-family:굴림,verdana;font-size:9pt;color:666666;background-color:white}
		.input{
	border:solid 1 #CCCCCC;
	font-family:굴림,verdana;
	font-size:9pt;
	color:666666;
	background-color:white;
	height:19px;
	margin-top: 6px;
}
		.input2{
	border:solid 0;
	font-family:굴림,verdana;
	font-size:9pt;
	color:666666;
	background-color:white;
	height:16px;
}
		.submit {border:solid 1 #CCCCCC;font-family:굴림,verdana;font-size:9pt;color:eeeeee;background-color:black;height:19px}
