@charset "utf-8";

* { margin: 0; padding:0 ; }
  
html, body { height: 100%; font-size:9pt; color:#000000; font-family:"돋움, Arial"; }

#content{padding:50px 3px 20px 30px;}



/* 명세서 테이블 */
.table-line{border-bottom:1px solid #dddee2; border:0; border-left:1px solid #dddee2;border-right:1px solid #dddee2; border-collapse: collapse;}
  .table-line th{border:0; padding:8px 3px 5px 0;border-top:1px solid #dddee2;border-left:1px solid #dddee2;background:#f1f1f3;font-weight:bold;}
  .table-line td{height:20px;border:0; padding:8px 5px 5px 5px;border-top:1px solid #dddee2;border-bottom:1px solid #dddee2;border-left:1px solid #dddee2;}
/* 상세등록테이블 */
.table-line2{border-bottom:1px solid #dddee2; border:0; border-left:1px solid #dddee2;border-right:1px solid #dddee2; border-collapse: collapse;}
  .table-line2 th{border:0; padding:8px 3px 5px 0;border-top:1px solid #dddee2;border-left:1px solid #dddee2;background:#f1f1f3;font-weight:bold;}
  .table-line2 td{border:0; padding:8px 5px 5px 5px;border-top:1px solid #dddee2;border-bottom:1px solid #dddee2;border-left:1px solid #dddee2;text-align:center;}

/* 리스트 테이블 */
.table-list{border-bottom:2px solid #dcdcdc;font-family:'돋움',dotum;font-size:12px;text-align:center;border-collapse:collapse}
  .table-list th{padding:7px 0 4px;border-top:2px solid #dcdcdc;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;background-color:#f5f7f9;color:#666;font-family:'돋움',dotum;font-size:12px;font-weight:bold}
  .table-list td{padding:6px 0 4px;border:1px solid #e5e5e5;color:#4c4c4c}  

/* 메일발송 팝업테이블 */
.table-pop{font-family:'돋움',dotum;border-collapse:collapse; border:0;}
.table-pop th{padding:2px 0 2px 2px;border:0;}
  .table-pop td{padding:2px 0 2px 2px;boder:0;}  
  
  
  
  .table-regist{ border-collapse: collapse;}
  .table-regist th{BORDER-bottom: #A3A3A3 1px solid;  padding-top:4px;padding-bottom:4px;background-color: #E4EAF8; }
  .table-regist td{BORDER-bottom: #E0E0E0 1px solid;  padding-top:4px;padding-bottom:4px;background-color: #ffffff; text-align:center;}
  
  
.table-basic{border:0; border-collapse: collapse; }
  .table-basic th{padding:4px 4px 2px 4px; border:1px solid #dddee2; background:#f1f1f3;}
  .table-basic td{border:0;padding:4px 4px 2px 4px;}

.fonttype1 {font-size: 20pt}
.fonttype2 {font-size: 20pt; color:#373737; font-family:"RixGo M";}
.fonttype3 {font-size: 18pt; font-weight:bold; color:#373737;}
.fonttype4 {font-size: 35pt}
.fonttype5 {font-size: 40pt}
.fonttype6 {font-size: 45pt}
.fonttype7 {font-size: 46pt}
 
#delete{float:right;}

input {font-family:"돋움", Arial; font-size:10pt;}


.btn {
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#000000;
	font-family:"돋움";
	font-size:11px;
	padding:3px 8px 0 8px ;
	margin:2px;
	text-decoration:none;
}.btn:hover {
	background-color:#dfdfdf;
}.btn:active {
	position:relative;
	top:1px;
}
